<!DOCTYPE html>
<html>
  <head>
    <title>Sequoia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
    <link rel="icon" type="image/x-icon" href="sequoia_fav.ico">
    <meta charset="utf-8" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
